:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --footer-hero-background: #2f303a;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --icon-fill-color: #afb1b8;

  /* card set */
  --item: 3;
  --indent: 30px;

  /* effects */
  --anim: 250ms ease-in;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* card set flex grid start*/

.card-set {
  display: flex;
  flex-wrap: wrap;

  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--item)) / var(--item));

  margin: calc(var(--indent) / 2);
}

/* end card set flex grid */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid seagreen; */
}

.page {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--second-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*----------------------HEADER STYLE----------------------*/

.header-cotainer {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

span.logo-prefix {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav .link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms var(--cubic-bezier);
}

.site-nav .link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  justify-content: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--cubic-bezier);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  align-self: center;
}

/*----------------------MAIN----------------------*/

/* HERO SECTION */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-color: #c4c4c4;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn {
  display: block;
  padding: 10px 32px;
  margin: auto;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms var(--cubic-bezier);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ASSET SECTION */

.asset {
  padding-bottom: 47px;
}

.asset-list {
  --item: 4;
  margin: -15px;
}

.asset-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.asset-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.asset-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/* WHAT WE DO */

.whatwedo {
  padding-top: 47px;
}

.whatwedo-list {
  padding-bottom: 47px;
  margin: -15px;
}

.what-we-do-item {
  position: relative;
}

.label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
}

.what-we-do-text {
  position: absolute;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

/* OUR TEAM */

.our-team {
  background-color: #f5f4fa;
}

.our-team-list {
  /* padding-bottom: 94px; */
  --item: 4;
}

.our-team-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-wrapper {
  padding: 30px 0;
}

.our-team-name {
  /* margin-top: 30px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.our-team-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.our-team-soc {
  margin-top: 16px;
  --item: 4;
  --indent: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.our-team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--icon-fill-color);
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
}

.our-team-soc-link:hover,
.our-team-soc-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.our-team-soc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* PERMANENT CLIENTS */

.perm-clients-list {
  --item: 6;
  --indent: 30px;
  margin-right: -30px;
}

.perm-clients-list:not(:last-child) {
  margin-right: 30px;
}
.perm-clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 170px;
  color: var(--icon-fill-color);
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  color: var(--icon-fill-color);
  transition: color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.perm-clients-link:hover,
.perm-clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.perm-clients-icon {
  fill: currentColor;
}

/* PORTFOLIO */

.portfolio-filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  border: none;
  cursor: pointer;
  background-color: #f5f4fa;
  transition: color 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus,
.filter-button.current {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-link {
  transition: color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-link-group {
  position: relative;
  overflow: hidden;
}

.portfolio-item-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform var(--anim);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-item-link:hover .portfolio-item-link-overlay,
.portfolio-item-link:focus .portfolio-item-link-overlay {
  transform: translate(0) 250ms var(--cubic-bezier);
}

.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.portfolio-item-group {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

/*----------------------FOOTER STYLE----------------------*/

footer {
  background-color: var(--footer-hero-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: 'Raleway';
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-addr {
  font-style: normal;
}

.footer-contacts .adress {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.77;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic-bezier);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  margin-bottom: 20px;
}

.footer-soc-set {
  /* margin-top: 20px; */
  --item: 4;
  --indent: 10px;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  transition: background-color 250ms var(--cubic-bezier);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-email-input {
  display: block;
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-email-input-field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 16px 15px;
  color: var(--white-color);
}

.footer-form-btn {
  margin-top: auto;
}

.footer-sign-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.footer-sign-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.footer-btn-icon-send {
  fill: currentColor;
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: 1;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: var(--anim) var(--cubic-bezier);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4) rotate(180deg);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: ;
}

.modal-btn:hover > .modal-icon {
  fill: var(--accent-color);
}

.modal-header {
  margin-bottom: 12px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-main {
  width: 448px;
  height: 342px;
}

.form-field {
  position: relative;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: #757575;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form-input:focus,
.textarea-comment:focus {
  outline: transparent;
  border-color: var(--accent-color);
}

.form-input:focus + .modal-icon-field {
  fill: var(--accent-color);
}

.modal-icon-field {
  position: absolute;
  top: 50%;
  left: 12px;
  border: none;
}

.textarea-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
}

.checkbox-icon {
  display: inline-block;
  border: 2px solid var(--second-text-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #188ce8;
  background-image: url('../images/checkbox-checked.svg');
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-txt {
  display: flex;
  gap: 8px;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-txt a {
  color: var(--accent-color);
}

.form-submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-btn {
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
}
