:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --footer-hero-background: #2f303a;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --icon-fill-color: #afb1b8;

  /* card set */
  --item: 3;
  --indent: 30px;

  /* effects */
  --anim: 250ms ease-in;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
